<h2>Edit <%= @toy.name %> </h2>
<form action="<%= show_toy_path(@toy.id) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label for="name"><strong>Name: </strong></label>
  <input type="text" name="name" id="name" value="<%=@toy.name%>">
  <label for="description"><strong>Description: </strong></label>
  <input type="text" name="description" id="description" value="<%=@toy.name%>">
  <label for="user"><strong>User: </strong></label>
  <input type="text" name="user" id="user" value="<%=@toy.user_id%>">
  <label for="manufacturer"><strong>Manufacturer: </strong></label>
  <input type="text" name="manufacturer_id" id="manufacturer_id" value="<%=@toy.manufacturer_id%>">
  <button type="submit">Edit</button>
</form>