<h1>Toys</h1>
<% for toy in @toys %>
  <div class="toy" style="padding: 20px">
    <div class="name"><strong>Name: </strong><%= link_to toy.name, show_toy_path(toy.id) %></div>
    <div class="description"><strong>ID: </strong><%= toy.id %></div>
    <div class="description"><strong>Description: </strong><%= toy.description %></div>
    <div class="date"><strong>Date: </strong><%= toy.date %></div>
    <div class="user"><strong>User:</strong> <%= toy.user %></div>
    <div class="delete"><%= link_to "Delete", delete_toy_path(toy.name), :method => :delete %></div>
  </div>
<% end %>